* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
#map {
    padding: 0;
    margin: 0;
    height: 93vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
    border-radius: 15px;
}

#controls-province {
    position: absolute;
    top: 35px;
    right: 35px;
    background: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    z-index: 1000;
}

.legend {
    background: white;
    line-height: 18px;
    padding: 20px;
    border-radius: 15px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


@media (max-width: 576px) {
    #map {
        position: absolute;
        right: 0px;
        height: 100vh;
        width: 40px;
        font-size: 12px;
    }
    .legend {
        padding: 10px;
        font-size: 12px;
    }
}
@media (max-width: 992px) {
    body {
        overflow-y: scroll;
    }
    #map {
        position: absolute;
        right: 0px;
        height: 93vh;
        width: 85%;
        font-size: 12px;
    }
    #controls-province {
        top: 35px;
        right: 10px;
        padding: 10px;
        font-size: 12px;
    }
    .legend {
        padding: 10px;
        font-size: 12px;
    }
}