.sidebar {
    width: 250px;
    height: 120vh;
    position: fixed;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.sidebar .logo-sidebar {
    padding: 30px 10px 5px 20px;
}

.sidebar .title-sidebar {
    font-size: 50px;
}

.sidebar .field-sidebar {
    padding: 30px 10px 5px 10px;
}

.sidebar .field-sidebar ul li {
    padding-bottom: 5px;
}

.sidebar .field-sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
}

.link-text {
    text-decoration: none;
    color: #ecf0f1;
}

.field-sidebar a.active {
    color: #ffffff;
    background-color: #5b6a78b8;
    border-radius: 0.25rem;
}

#hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Responsif */
@media (max-width: 992px) {
    .sidebar {
        width: 70px;
        z-index: 1000;
        position: fixed;
        
    }
    .sidebar .logo-sidebar,
    .sidebar .title-sidebar,
    .sidebar .field-sidebar ul li a {
        display: none;
    }
    .sidebar .field-sidebar ul li {
        display: flex;
        justify-content: center;
    }
    .sidebar-menu-text{
        display: none;
    }
}